extends layout

block content
  h1= title
  p Welcome to #{title}
  - if(session) {
  div
    img(src=session.user.photos[0].value)
  div= session.user.displayName
  - } else {
    a(href='/oauth') Twitterでログイン
  - }
  div.list
  - if(contributions) {
  - contributions.forEach(function(contribution) {
  div.contribution
    p= contribution.text
    img(src=contribution.base64)
  - })
  - }
  div(ng-app="myApp" ng-controller="myCtrl")
    img(ng-src='{{selectedItem ? selectedItem.link : null}}' width='{{item.image.width}}' height='{{item.image.height}}')
    p
      span(class="title") Queries:
      input(type='text' ng-model='query')
      input(type='button' ng-click='search()' value='Search')
    p
      span(class='title') Results: {{ items.length }}
      ul(class='items')
        li(ng-repeat='item in items')
          img(ng-src='{{item.image.thumbnailLink}}' width='{{item.image.thumbnailWidth}}' height='{{item.image.thumbnailHeight}}' ng-click='select({{item}})')
    form(method="POST" action="./contributes/post")
      input(type="text" ng-model="text" value="テキスト")
      input(type="text" ng-model="url" value="画像URL")
      input(type="button" ng-click='submit()' value="送信")
  script(type="text/javascript", src='bower_components/jquery/dist/jquery.js')
  script(type="text/javascript", src='bower_components/angular/angular.js')
  script(type="text/javascript", src='bower_components/threejs/build/three.js')
  script(type="text/javascript", src='bower_components/threejs/build/TrackballControls.js')
  script(type="text/javascript", src='javascripts/main.js')